// works
.works {
    min-width: 100%;
    height: auto;
    background-color: #1D1D1D;
    .wrapper {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
    }
    &__row {
        &:nth-child(2) {
            margin-left: 20px;
        }
    }
    &__item {
        display: flex;
        justify-content: center;
        width: 579px;
        height: 658px;
        transition: all ease-out 0.5s;

        &_1 {
            background: #E5E1F3;
            transform: translate(0, -150px);
        }
        &_2 {
            background: #C1BAB0;
            transform: translate(0, -130px);
        }
        &_3 {
            margin-top: 70px;
            background: url('../image/bg-3.png');
        }
        &_4 {
            position: relative;
            margin-top: 20px;
            background: url('../image/bg-4.png') 0 0/cover no-repeat;
        }

        &_site {
            &-1 {
                position: absolute;
                z-index: 2;
                bottom: 0;
                width: 491px;
                height: 544px;
            }
            &-2 {
                position: absolute;
                top: 20%;
                z-index: 3;
                width: 600px;
                height: 420px;
            }
            &-3 {
                position: absolute;
                transform: translate(-10px, 50%);
                width: 483px;
                height: 302px;
            }
            &-4 {
                position: absolute;
                z-index: 3;
                width: 509px;
                height: 318px;
                top: 20%;
            }
        }

        &_sphere {
            pointer-events: none;
            position: absolute;
            top: -50%;
            left: -20%;
            z-index: 1;
            width: 1000px;
            height: 1000px;
        }
        &_sneakers {
            &-1 {
                position: absolute;
                bottom: 10%;
                left: -10%;
                z-index: 3;
                width: 320px;
                height: 290px;
            }
            &-2 {
                position: absolute;
                z-index: 2;
                width: 1000px;
                height: 1000px;
                bottom: 10%;
                left: -40%;
            }
        }
        &_backsite {
            position: absolute;
            z-index: 2;
            width: 500px;
            height: 370px;
            top: 50%;
            left: 20%;
        }
        &_juice {
            position: absolute;
            z-index: 2;
            width: 200;
            height: 500px;
            transform: translate(-5%, 42%);
        }
        &_coconut {
            &-1 {
                position: absolute;
                bottom: -10%;
                left: -40%;
                z-index: 1;
                width: 544.53px;
                height: 544.53px;
            }
            &-2 {
                position: absolute;
                bottom: 20%;
                right: -10%;
                z-index: 3;
                width: 252px;
                height: 217px;
            }
        }
    }
}
@media (max-width: 1440px) {
    .works {
        &__item {
            transform: scale(0.9);
        }
    }
}
@media (max-width: 1182px) {
    .works {
        &__item {
            &_1 {
                position: absolute;
                transform: scale(0.5) translate(0, -50%);
            }
            &_2 {
                transform: scale(0.5) translate(0, calc(50% + 20px));
            }
            &_3 {
                position: absolute;
                z-index: 2;
                margin-top: 0;
                transform: scale(0.5) translate(0, -42%);
            }
            &_4 {
                margin-top: 0;
                transform: scale(0.5) translate(0, calc(60% + 20px));
            }
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;

        }
        &__row {
            &:nth-child(2) {
                margin-left: 0;
            }
        }
    }
}
@media (max-width: 576px) {
    .works {
        &__item {
            &_1 {
                position: absolute;
                transform: scale(0.5) translate(0, -50%);
            }
            &_2 {
                transform: scale(0.5) translate(0, calc(50% + 20px));
            }
            &_3 {
                position: absolute;
                z-index: 2;
                margin-top: 0;
                transform: scale(0.5) translate(0, -42%);
            }
            &_4 {
                margin-top: 0;
                transform: scale(0.5) translate(0, calc(60% + 20px));
            }
        }
    }
}