// about
.about {
    width: 100%;
    height: 100vh;
    background-color: #F3F1F6;
    color: #4A4A4A;

    .wrapper {
        position: relative;
        width: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
    }

    &__item {
        display: flex;
        &_1 {
            flex-direction: column;
            justify-content: center;
            height: 100%;

            .text {
                margin-top: 50px;
                max-width: 650px;
                text-align: left;
            }
            h4 {
                margin-top: 50px;
                color: #AAD554;
            }
            img {
                width: 300px;
                height: 300px;
            }
            span {
                padding-left: 16px;
            }
        }
        &_2 {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

@media (max-width: 1250px) {
    .about {
        height: auto;
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__item {
            display: flex;
            &_1 {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100%;
                .text {
                    margin-top: 50px;
                    max-width: 650px;
                    text-align: center;
                }
                h4 {
                    font-size: clamp(44px, 3vw, 144px);
                }
            }
            &_2 {
                display: none;
            }
        }
    }
}